@model Soccer.Web.Data.Entities.TeamEntity
@{
    ViewData["Title"] = "Detalle";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-success">Regresar al Listado</a>
</div>

